.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 12px;
  padding-right: 10px;
  box-sizing: border-box;

  &__bbb {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: red;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @img-background;
    width: 100%;
    min-height: 185px;
    box-sizing: border-box;

    & img {
      object-fit: fill;
      width: 100%;
      height: auto;
      min-height: 185px;
    }
  }

  &__img-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 11px;
  }

  &__img-control {
    visibility: hidden;
    position: absolute;
  }

  &__special-conditions {
    display: none;
  }

  &__title {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    color: @article-title;
  }

  &__price {
    font-weight: bold;
    line-height: 1.5;
    color: @dark-color;

    &_old {
      display: none;
    }
  }

  &__additional-info {
    display: none;
  }

  &__button {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .carousel-item {
    font-size: 13px;
  }
}

@media (min-width: @desktop-width) {
  .carousel-item {
    position: relative;
    padding: 9px 9px 0;
    margin: 0 -5px 68px;
    font-size: 13px;
    border: solid 1px transparent;

    &__img-container {
      position: relative;
    }

    &__img-carousel {
      margin-bottom: 17px;
    }

    &__img-control {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 47px;
      height: 49px;
      border: none;
      background: none;
      cursor: pointer;
      pointer-events: auto;
      z-index: 11;

      &_left {
        transform: rotate(180deg);
        left: 0;
      }

      &_right {
        right: 0;
      }

      &_disabled {
        opacity: 0.4;
        cursor: default;
      }
    }

    &_new-price {

      & .carousel-item__price {
        color: @discount-product;
      }

      & .carousel-item__price_old {
        display: inline;
        padding-right: 10px;
        text-decoration: line-through;
        font-weight: normal;
        color: @dark-color;
      }
    }

    &__text-container {
      margin-left: 10px;
      position: relative;
    }

    &__special-conditions {
      display: flex;
      position: absolute;
      top: -32px;
      left: -10px;
      width: 100%;
      margin: -2px;
      z-index: 5;
    }

    &__special-condition {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 43px;
      min-height: 19px;
      padding: 2px;
      margin: 2px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      border-radius: 2px;
      box-sizing: border-box;
      color: @page-background;
      background-color: @new-product-background;

      &_discount {
        background-color: @discount-product;
      }
    }

    &__title {
      font-size: 13px;
      padding-bottom: 3px;
    }

    &__price {
      font-size: 14px;
      padding-bottom: 16px;
    }

    &__additional-info {
      display: flex;
      flex-direction: column;
      color: @article-title;
      visibility: hidden;
      z-index: 9;
    }

    &_promotions {
      margin-bottom: 48px;

      & .carousel-item__additional-info {
        display: none;
      }

      & .carousel-item__price {
        padding-bottom: 10px;
      }
    }

    &__credit {
      padding-bottom: 7px;

      & span {
        font-weight: bold;
        white-space: nowrap
      }
    }

    &__button {
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 48px;
      font-size: 14px;
      background: @button-background;
      border: none;
      box-sizing: border-box;
      cursor: pointer;
      color: @article-title;
      z-index: 10;

      &:hover,
      &:focus {
        background: @img-background;
      }
    }

    &:hover,
    &:focus {
      margin-bottom: 0;
      padding: 9px 9px 43px;
      box-shadow: 0 3px 7px 0 @article-shadow;
      border: solid 1px @article-border;
      position: relative;
      background: @page-background;
      z-index: 10;

      & .carousel-item__link {
        cursor: default;
      }

      & .carousel-item__img-control {
        visibility: visible;
      }

      & .carousel-item__size {
        padding-bottom: 24px;
      }

      & .carousel-item__button {
        display: flex;
      }

      & .carousel-item__additional-info {
        visibility: visible;
      }
    }
  }
}

@media (min-width: @desktop-max-width) {
  .carousel-item {

    &__img-container {
      width: 343px;
    }

    & img {
      height: 475px;
    }
  }
}

