.slick-list {
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: @desktop-width) {
  .slick-list {
    padding: 0 65px 0 0;
  }
}

@media (min-width: @desktop-wide-width) {
  .slick-list {
    padding: 0 75px 0 0;
  }
}

@media (min-width: @desktop-max-width) {
  .slick-list {
    width: 1845px;
  }
}